<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/detail.css")">
  <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")">
  <title>Document</title>
</head>
<body>
  <main>
    <div class="detail">
        <div class="img-container" >
            <img src="@routes.Assets.versioned("images/th.jpeg")" alt="gambar" class="gambar">
        </div>

        <div class="likes">
            <img  src="@routes.Assets.versioned("images/heart.svg")" alt="">
        </div>

        <div class="komentar">
            <img src="@routes.Assets.versioned("images/komentar.svg")" alt="">
        </div>
    </div>
  </main>

  <footer>
      <div class="home">
        <img src="@routes.Assets.versioned("images/home.svg")" alt="">
      </div>

      <div class="profile">
        <img src="@routes.Assets.versioned("images/user.svg")" alt="">
      </div>
  </footer>
</body>
</html>