<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/home.css")">
  <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")">
  <title>Document</title>
</head>
<body>
  <main>
      <div class="masonry">

        <div class="masonry-item"><img src="@routes.Assets.versioned("images/th2.jpeg")" alt=""></div>
        <div class="masonry-item"><img src="@routes.Assets.versioned("images/ptr.jpg")" alt=""></div>
        <div class="masonry-item"><img src="@routes.Assets.versioned("images/th2.jpeg")" alt=""></div>
        <div class="masonry-item"><img src="@routes.Assets.versioned("images/ptr.jpg")" alt=""></div>
        <div class="masonry-item"><img src="@routes.Assets.versioned("images/ptr.jpg")" alt=""></div>
        <div class="masonry-item"><img src="@routes.Assets.versioned("images/th2.jpeg")" alt=""></div>
        <div class="masonry-item"><img src="@routes.Assets.versioned("images/th2.jpeg")" alt=""></div>
        <!-- Tambah gambar sesuai kebutuhan -->

      </div>
  </main>

  <footer>
    <a href="/" class="home">
      <img src="@routes.Assets.versioned("images/home_white.svg")" alt="">
    </a>

    <a href="profile" class="profile">
      <img src="@routes.Assets.versioned("images/user.svg")" alt="">
    </a>
</footer>
</body>
</html>